.wrapper {
    width: 350px;
    height: 450px;
    border-radius: 15px;
    background-color: rgb(221, 171, 54);
    color: white;
    position: relative;
    text-align: center;
    margin: 5%;
    left: 30%;
    padding: 60px;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: rgb(203, 74, 31);
    color: white;
    position: relative;
    margin-bottom: 10px;
}
