.productCard {
    height: 400px;
    width: 300px;
    background-color: rgb(248, 220, 153);
    border-radius: 15px;
    border-width:  thick;
    border-color: black;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productCard__img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    position: relative;
    
}

.productCard__like {
    width: 30px;
}

.productCard__button {
    min-width: 100px;
    height: 30px;
    background-color: rgb(243, 205, 107);
    border-radius: 15px;
    margin: 10px;
}

.likeSection {
    display: flex;
    flex-direction: row;
}