.productCard {
    height: 400px;
    width: 300px;
    background-color: rgb(221, 171, 54);
    border-radius: 15px;
    padding: 10px;
    margin: 20px
}

.productCard__img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    position: relative;
    
}

.productCard__like {
    width: 30px;
}

.productCard__button {
    width: 100px;
    height: 30px;
    background-color: rgb(243, 205, 107);
    border-radius: 15px;
    margin: 30px;
    margin: 50px;
}