.userInfo  {
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userInfo p {
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.userInfo img {
    width: 400px;
    border-radius: 15px;
    margin: 20px;
}

.userInfo p {
    width:max-content;
    background-color: darkgoldenrod;
    border-color: rgb(224, 174, 45);
    border-radius: 10px;
    border-width: 3px;
}

.buttonSection {
    display: flex;
    justify-content: center;
}
.buttonSection__button {
    width: 200px;
    height: 60px;
    background-color: darkgoldenrod;
    border-radius: 15px;
    margin: 30px;
}

.buttonSection__button-exit {
    width: 200px;
    height: 60px;
    background-color: darkgoldenrod;
    border-radius: 15px;
    margin: 30px;
    background-color: red;
}
